.all_form_wrapper {
  margin-top: 50px;
  padding: 0 30px;
}

.all_form_wrapper button {
  width: 100%;
  border-radius: 0;
}

.all_form_inner_wrapper {
  margin: 0 auto;
  width: 500px;
  padding: 0 30px;
  overflow: hidden;
  box-sizing: border-box;
}

.all_form_inner_wrapper .panel {
  padding: 0 30px;
}

._facebook {
  background: #3C66C4 !important;
  color: #ffffff;
}

._google {
  background: #DF4A32 !important;
  color: #ffffff;
}

#otp_resend_btn {
  cursor: pointer;
  margin-left: 30px;
}
